.pokedex-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokedex-wrapper h1{
    letter-spacing: 10px;
    /* animation: pokedex 5s ease-in-out 2s infinite ; */
}

@keyframes pokedex{
    0%{
        color :aqua
    }
    25%{
        color: blueviolet;
    }
    50%{
        color: lightgreen;
    }
    100%{
        color: crimson;
    }
}