.pokemon-details-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.pokemon-name{
    font-size: xx-large;
    letter-spacing: 10px;
}

.pokemon-attrs{
    display: flex;
    font-size: xx-large;
    gap: 2rem;

}
.type{
    font-size:x-large;
    border: 1px solid gray;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: white;
    margin-left: 1rem;
}
.pokemon-type h1{
    display: inline;
}
.pokedex-redirect{
    text-align: center;
}